# Generated NAMESPACE (exports are also included via roxygen in R/)
export(GenerateSimuDta)
export(TAP.Est)
export(LambdaCgammaMSE)
export(LambdaCgammaMSE.MC)
export(OptimLambdaCgamma.MC)
export(NormalTruncatedFirstMom)
export(NormalTruncatedSecondMom)
export(LambdaCgammaBias)
export(LambdaCgammaVar)

import(stats)
import(utils)
import(graphics)
importFrom(utils, head)
